<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagePackAnalyzer" version="3.1.4" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="ObservableCollections.R3" version="3.3.4" manuallyInstalled="true" />
  <package id="R3" version="1.0.0" />
  <package id="System.CommandLine" version="2.0.7" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>